body {
	font-family:Arvo,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
h1,h2,h3,h4,h5,h6 {
	font-family:Arvo, Georgia, serif;
}
.step {
	display: inline-block;
	line-height: 1;
	width: 10%;
}


.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }
.wrapper {
	clear:both;
	width:100%;
}
.top-bar{
	height:60px;
	border-bottom:1px solid #2c3e50;
}
.top-bar .name {
	height:60px;
}
.top-bar .toggle-topbar.menu-icon a{
	background:#fff;
	color:#2c3e50;
}
.top-bar, .top-bar .name h1 a, .top-bar-section ul li, .top-bar-section ul li{
	background:#fff;
	color:#2c3e50;
}
.top-bar .name h1 a{
	line-height:59px;
}
.top-bar-section li:not(.has-form) a {
	line-height:59px;
	font-family:Arvo,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	line-height:59px;
	background:#fff;
	color:#2c3e50;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background:#bdc3c7;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
	line-height:59px;
	background:#95a5a6;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover{
	background:#bdc3c7;
}
.top-bar-section li:not(.has-form) a:not(.button):focus {
	background:#7f8c8d;
}
.top-bar .toggle-topbar.menu-icon a span:after {
        color:#2c3e50;
      -webkit-box-shadow: 0 0px 0 1px #2c3e50, 0 7px 0 1px #2c3e50, 0 14px 0 1px #2c3e50;
      box-shadow: 0 0px 0 1px #2c3e50, 0 7px 0 1px #2c3e50, 0 14px 0 1px #2c3e50;
}
.top-bar .toggle-topbar.menu-icon a span:hover:after {
	color:#2c3e50;
	background:#fff;
        -webkit-box-shadow: 0 0px 0 1px #2c3e50, 0 7px 0 1px #2c3e50, 0 14px 0 1px #2c3e50;
        box-shadow: 0 0px 0 1px #2c3e50, 0 7px 0 1px #2c3e50, 0 14px 0 1px #2c3e50;
}
.top-bar.expanded .toggle-topbar.menu-icon a{
	background:rgb(51,51,51);
}
.top-bar.expanded .toggle-topbar a span:after{
      color:white;
      -webkit-box-shadow: 0 0px 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
      box-shadow: 0 0px 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
}
[data-magellan-expedition-clone]:after {
    background:transparent;
}
.f-topbar-fixed {
    padding-top:0;
}
div#section-info .columns.large-3.medium-4 {
    color:#E91E63;
}
.opt {
	font-weight: bold;
	text-transform: uppercase;
}
.opt,.opt-text {
	line-height:30px;
}